* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

:root {
    --buttonColor: #ff4450;
    --BlueGray: #273044;

  }

.mg {
    padding: 0px 5%;
}